/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }

  .section-title {
    padding-bottom: 40px;
  }

  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #70a411;
    font-family: 'Bold Light','Calibri';
  }

  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #e3e3ca;
    font-family: 'Bold Light','Calibri';
    margin: 4px 10px;
  }

  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Calibri';
    color: #BACB14;
  }

  /*   Boton de enviar comentarios   */
  .contact .php-email-form button[type=submit] {
    background: rgb(38, 140, 14);
    border: 0;
    padding: 10px 24px;
    color: #e3e3ca;
    transition: 0.4s;
    border-radius: 50px;
  }

  /* /:::::Pie de Pagina/ */
.pie-pagina{
    width: 100%;
    background-color: rgb(112, 164, 17);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(186, 203, 20);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(38, 140, 14);
}
.pie-pagina .grupo-2{
    background-color: rgb(38, 140, 14);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.icon-txt{
    display: inline-block;
}

/* Alianzas */
.botonDonar{
    position: fixed;
    visibility: visible;
    text-align: center;
    opacity: 100;
    right: 16px;
    top: 400px;
    box-shadow: 1px 10px 100px rgba(0, 0, 0,4);
    z-index: 900;
    background: #ef6603;
    width: 120px;
    height: 40px;
    border-radius: 19px;
    color: white;
    line-height: 1cm;

}
.botonDonar:hover{
    text-decoration: none;
    color: #eb680a;
    background-color: rgb(206, 206, 206);
    border-color: #111;

}
.cursorIcon{
  cursor: pointer;
  background-color: #f15757;
  font-size: 23px;
}
.logosAlianzas{
    width: 200px;
    height: 200px;
}



/* Boton donar */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgb(112, 164, 17);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: rgb(186, 203, 20);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* icono arriba */
.back-up {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgb(112, 164, 17);
  width: 40px;
  height: 40px;
  margin-right: 45px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-up i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-up:hover{
  background: rgb(186, 203, 20);
  color: #fff;
}

.back-up.active {
  visibility: visible;
  opacity: 1;
}

/* icono youtube */
.back-youtube {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgb(112, 164, 17);
  width: 40px;
  height: 40px;
  margin-right: 90px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-youtube i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-youtube:hover{
  background: rgb(186, 203, 20);
  color: #fff;
}

.back-youtube.active {
  visibility: visible;
  opacity: 1;
}

/* icono tiktok */
.back-tiktok {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgb(112, 164, 17);
  width: 40px;
  height: 40px;
  margin-right: 135px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-tiktok i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-tiktok:hover{
  background: rgb(186, 203, 20);
  color: #fff;
}

.back-tiktok.active {
  visibility: visible;
  opacity: 1;
}

/* icono facebook */
.back-facebook {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgb(112, 164, 17);
  width: 40px;
  height: 40px;
  margin-right: 180px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-facebook i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-facebook:hover{
  background: rgb(186, 203, 20);
  color: #fff;
}

.back-facebook.active {
  visibility: visible;
  opacity: 1;
}

/* icono instagram */
.back-instagram {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgb(112, 164, 17);
  width: 40px;
  height: 40px;
  margin-right: 225px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-instagram i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-instagram:hover{
  background: rgb(186, 203, 20);
  color: #fff;
}

.back-instagram.active {
  visibility: visible;
  opacity: 1;
}

/* icono twitter */
.back-twitter {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgb(112, 164, 17);
  width: 40px;
  height: 40px;
  margin-right: 270px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-twitter i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-twitter:hover{
  background: rgb(186, 203, 20);
  color: #fff;
}

.back-twitter.active {
  visibility: visible;
  opacity: 1;
}

/* icono linkedin */
.back-linkedin {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgb(112, 164, 17);
  width: 40px;
  height: 40px;
  margin-right: 315px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-linkedin i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-linkedin:hover{
  background: rgb(186, 203, 20);
  color: #fff;
}

.back-linkedin.active {
  visibility: visible;
  opacity: 1;
}

.btn-color{
  background-color: rgb(112, 164, 17);
  color: white;
}

/* Estilo boton - carrusel */
.cnt {
  position: relative;
}

.carousel-container {
  position: relative;
}

.contbtn {
  position: absolute;
  top: 88%; /* Ajusta la posición vertical según tus necesidades */
  left: 90%; /* Ajusta la posición horizontal según tus necesidades */
  transform: translateX(-50%);
}

.informacion{
  color: rgb(112, 164, 17);
  font-size: 18px;
  font-weight: bold;
}

.sub-informacion{
  color: rgb(112, 164, 17);
  font-size: 15px;
  text-align: justify;
}

/* MAPA */
#map {
  height: 450px;
  width: 80%;
}

/* LOGROS */
.text-box-container {
  display: flex;
  justify-content: space-around;
}

.text-box {
  flex: 1;
  padding: 20px;
  color: white;
  /* font-weight: bold; */
  text-align: center;
  margin: 0 10px; /* Margen lateral de 10px */
  /* border: 2px solid rgb(38, 140, 14); */
}

.color-div{
  background-color: rgb(112, 164, 17);
}


.caja {
  display: flex;
  align-items: center;
  border: 1px solid rgb(38, 140, 14);
  color: white;
  padding: 10px;
  margin-top: 15px; 
  border-radius: 5px;
  background: rgb(38, 140, 14);
  cursor: pointer;
}

.more-info{
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  margin-top: 15px; 
  justify-content: center;
}

.icono {
  margin-right: 25px;
  font-size: 20px;
}

.btn-color{
  /* background-color: rgb(38, 140, 14); */
  border-radius: 5px;
  border: 2px solid rgb(38, 140, 14);
}

.alcance-h2{
  color: rgb(38, 140, 14); 
  font-weight: bold; 
  text-align: center;
}

.alcance-h4{
  text-align: center; 
  color: #bacb14;
}

.card-title h4{
  color: rgb(38, 140, 14);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.card-body p{
  color:rgb(112, 164, 17);
  font-size: 17px;
  text-align: justify;
}

/* portafolio - labor social */

.portfolio-item
{
  position:relative;
  overflow:hidden;
}
.portfolio-item figure
{
  margin:0;
  padding:0;
  position:relative;
  cursor:pointer;
}
.portfolio-item figure img {
  display:block;
  position:relative;
  z-index:10;
  margin:-15px 0
}
.portfolio-item figure figcaption {
  display:block;
  position:absolute;
  z-index:5;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
.portfolio-item figure h2 {
  color:#fff;
  font-size:20px;
  text-align:left;
  padding-bottom:15px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.portfolio-item figure p {
  display:block;
  line-height:18px;
  margin:0;
  color:#fff;
  text-align:left
}
.portfolio-item figure figcaption {
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding: 59px 30px;
  background-color: rgb(112, 164, 17);
  backface-visibility:hidden;
  -webkit-transform:rotateY(-180deg);
  -moz-transform:rotateY(-180deg);
  transform:rotateY(-180deg);
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  text-align: center;
}
.portfolio-item figure img {
  backface-visibility:hidden;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s
}
.portfolio-item figure:hover img,figure.hover img {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  transform:rotateY(180deg)
}
.portfolio-item figure:hover figcaption,figure.hover figcaption {
  -webkit-transform:rotateY(0);
  -moz-transform:rotateY(0);
  transform:rotateY(0)
}
.portfolio-item figure figcaption{
  padding: 55px 30px;
}
.portfolio-item figure figcaption {
  padding: 30px 30px;
}
.portfolio-item figure p{
  font-size: 14px;
}
.portfolio-item figure h2{
  display: flex;
  font-size: 28px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.alianzas{
  background: url('../fotos/patron02.jpeg') no-repeat fixed;
}